

<ion-content>

  
  
  


  <div class="contAll ">

      <div class="ganador centrar" id="ganadorContenedor">
          <h1 *ngIf="this.facilita.gan==1"
          class="letra" style="font-size: 20px; width:100%; text-align: center; font-size: 30px;">
            Ganador</h1>
          <h1 
          *ngIf="this.facilita.gan>1"
          class="letra" style="font-size: 20px; width:100%; text-align: center; font-size: 30px;">
            Empate</h1>


          <div class="perfil-ganador centrar" *ngFor="let gan of this.facilita.gandor">
            <img src="{{gan.imagen}}" width="155px" style="border-radius: 50%;">
            <p class="letra" style="font-size: 20px; width: 100%; text-align: center;">{{gan.nombre}}</p>
           </div>     
      </div>
   
    <div class="otherPlayers centrar">

      <div *ngFor="let fs of Agentes" @itemState class="Contrincante centrar" 
       [ngClass]="{'turnoA':fs.turno==this.facilita.turno,turnoB:fs.turno!=this.facilita.turno}" >
        <div class="perfil centrar">
          <img src="{{fs.imagenPerfil}}" >
        </div>
        <p class="letra" style="margin: 2px;">{{fs.nombre}}</p> 
        <div class="fi centrar">
          <p class="letra">Fichas:</p>
          <p class="letra">{{fs.numeroDeFichas}}</p>
        </div>
      </div>
      
    </div>




<!------------------------tablero-------------------------------------------->
  <div style="position: relative; width: 100%;">
    


    <div id="Marco" class="marco centrar">


      <div class="dobleJugada centrar" *ngIf="dobleTiro">
          <button class="botones centrar" style="position: absolute; left: 12px;"
            (click)="tirarLado1()"
          >
              <img src="{{this.facilita.tablero.imagenExtremo1}}" width="80px;" style="border-radius: 10px;">
          </button>
          <button  class="botones centrar" style="position: absolute; right:12px;"
            (click)="tirarLado2()"
          >
              <img src="{{this.facilita.tablero.imagenExtremo2}}" width="80px;" style="border-radius: 10px;">
          </button>
      </div>
      

      <div class="caja1 centrar letra" *ngIf="tomaficha">
            <p *ngIf="caja" >Caja: tome un ficha</p>
            <p *ngIf="!caja"> Caja basia salta turno</p>
            <div *ngFor="let ficha of facilita.cajaDeFicha">
                <div 
                *ngIf="ficha.idJugador==null"
                (click)="tomarFicha(ficha)"
                class="ficha" style="background:white; border-radius: 10px; cursor: pointer;"></div>
            </div>
      </div>


      <div id="turnosC" class="caja1 centrar" style="position: relative; overflow: hidden;" >
        
          <div *ngFor="let tur of parienciasTurno"
           class="perfil-ganador centrar" style="width: 100px; height: 100px;">
              <img src="{{tur.imagen}}" width="90px" style="border-radius: 50%;">
           
            <p class="letra" style="font-size: 20px; width: 100%; text-align: center; color: gold;">
              {{tur.nombre}} <samp style="color: honeydew;">Turno:{{tur.turno}}</samp>
            </p>
             
          </div>  
            
              


            <button  class="bontonOk letra centrar" (click)="jugarmula()">
              ok
            </button>
      </div>

    </div>





      <div class="centrar" style="width: 300px; position: absolute; z-index: 70; left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;">
        
          <img  *ngIf="fondo"  src="../../assets/imagenes/yelmo/yelmo.png" style="width: 90%; opacity: 0.8;">
      </div>






   
    <div class="tablero centrar"  @itemState>
            <a id="arriva" class="amovilS">arriva</a>
        
          <div id="table">  </div>
          



          
          


         
          <a id="abajo" class="aMovilI">adajo</a>
    </div>
      
      


    






  </div>


<!------------------------fichas del jugador-------------------------------------------->
    <div class="player centrar" @itemState>
   

      <div *ngFor="let ficha of fichas" >
         
        <div  
        class="ficha " (click)="jugar(ficha)" @itemState
          *ngIf="idPlayer==ficha.idJugador"
          disabled="turno"
          style="cursor: pointer;"
        >
       
          <div class=" DePie">
            <img src="{{ficha.imagen1}}" >
          </div>
          
          <div class=" DePie">
            <img  src="{{ficha.imagen2}}" alt="">
          </div>

        </div>
      
     </div>
        
          
        
       
    
    </div>

  </div>

</ion-content>
