

<ion-content>


  <div class="contAll ">
   
    <div class="otherPlayers centrar">

      <div *ngFor="let fs of contrincantes" @itemState class="Contrincante centrar" >
        <div class="perfil centrar">
          <img src="../../assets/imagenes/perfil.png" alt="">
        </div>
        <p class="letra" style="margin: 2px;">nombre</p> 
        <div class="fi centrar">
          <p class="letra">Fichas:</p>
          <p class="letra">7</p>
        </div>
      </div>
      
    </div>
  <div style="position: relative; width: 100%;">
    
      <div class="centrar" style="width: 300px; position: absolute; z-index: 90; left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;">
        
          <img  *ngIf="fondo"  src="../../assets/imagenes/yelmo/yelmo.png" style="width: 90%; opacity: 0.8;">
      </div>

   
    <div class="tablero centrar"  @itemState>
            <a id="arriva" style="position: absolute; top:0;">arriva</a>
        
          <div id="table" style=" width:100%;  height: 100%; margin: auto; position:absolute; z-index: 100;">

          </div>
          
         
          <a id="abajo" style="position: absolute; bottom: 0;">adajo</a>
    </div>
      
      
  </div>



    <div class="player centrar" @itemState>
   

      <div *ngFor="let ficha of fichas" >
         
        <div  
        class="ficha " (click)="jugar(ficha)" @itemState
        
        >
       
          <div class=" DePie">
            <img src="{{ficha.imagen1}}" alt="">
          </div>
          
          <div class=" DePie">
            <img  src="{{ficha.imagen2}}" alt="">
          </div>

        </div>
      
     </div>
        
          
        
       
    
    </div>

  </div>

</ion-content>
