.contAll{
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
    
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.centrar2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.letra{
    font-family: "Homer Simpson", cursive;
    
}

.player{
    width: 100%;
    height: auto;
    padding: 10px;
    
}



.otherPlayers{
    width: 100%;
    height: auto;
}

.perfil{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    background: transparent;
    border: transparent;
}

.perfil ::content img{
    width:100%;
}

.Contrincante{
    width: 200px;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    color: whitesmoke;
    height: 79px;
    margin: 4px;
    transition: 0.5s;
}

.turnoA{
    background: #4B0082 ;
    transition: 0.5s;
}
.turnoB{
    background-color: #2F4F4F;
    transition: 0.5s;
}


.fi{
    
    width: 100%;
}

.tablero{
    position: relative;
    background: url('../../assets/imagenes/tableros/morado7.png');
    background-size: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    width: 98%;
    height: 390px;
    margin: auto;
    
    overflow-x: scroll;
}




.ficha{
    height: 120px;
    width: 60px;
    overflow: hidden;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid black;
    background: #000000;
}

.fichaAcostada{
    height: 60px;
    width: 120px;
    display: flex;
}



.DePie{
    width: 100%;
    height: 50%;
    text-align: center;
}

.acostado{
    width: 50%;
    height: 100%;
    text-align: center;
}

.DePie::content img{
    height:100%;
    border: 1px solid black;
    border-radius: 5px;
}

.acostado::content img{
    height:100%;
    border: 1px solid black;
    transform: rotate(90deg);
    border-radius: 5px;
}


.posicion{
    position: absolute;
    top: 45%;
    left: 45%;
}

.posicion2{
    position: absolute;
    top: 45%;
    left: 45%;
    margin-left: -240px;
    margin-top: 120px;
}

.posicion3{
    position: absolute;
    top: 45%;
    left: 45%;
    margin-left:-120px;
}


.posicion4{
    position: absolute;
    top: 45%;
    left: 45%;
    margin-left:-180px;
}

.amovilS{
    position: absolute; top:0;
    opacity: 0;
}

.aMovilI{
    position: absolute; bottom: 0; 
    opacity: 0;
}

.marco{
    background: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    color: white;
    width: 100%;
    height: 390px; 
    margin: auto;
    border-radius: 10px;
    transition: 0.5s;
}

#table{
    //background: rebeccapurple;
      width:100%;  height: 100%; margin: auto; position:absolute; z-index: 90; 
}

.dobleJugada{
    width: 100%;
    height: 100%;
    //background: rebeccapurple;
    position: relative;
    color: #2F4F4F;
}

.botones{
    border-radius: 10px;
    overflow: hidden;
    background: transparent;
    width:80px;
    height: 80px;
}

.marginHiden{
    transition: 0.5s;
    margin-left:-100%;
}
.caja{
    //background: #2F4F4F;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.caja::content p{
    width: 100%;
    //background: red;
    text-align: center;
    font-size: 35px;
}

/*@media(max-width:1200px){
    //quitar al pasar a movil
    #table{
        margin-left:320px;
        
        //background: red;
        
    }

}*/

@media(max-width: 500px){
    .Contrincante{ 
        width: 100px;
        margin: 2px;
    }


    .ficha{
        height: 80px;
        width: 40px;
    }
    
    .fichaAcostada{
        height: 40px;
        width: 80px;
        display: flex;
    }
    

    .posicion{
        position: absolute;
        top: 40%;
        left: 40%;
    }

    .posicion3{
        position: absolute;
        top: 40%;
        left: 40%;
        margin-left:-80px;
    }
    .posicion4{
        position: absolute;
        top: 40%;
        left: 40%;
        margin-left:-120px;
    }

    .posicion2{
        position: absolute;
        top: 40%;
        left: 40%;
        margin-left: -120px;
        margin-top: 80px;
    }

    .tablero{
        position: relative;  
         display: flex;
         width: 100%;
         height: 430px;
         
     }

     
     .marco{
        height: 430px;
         
     }

     .letra{
         font-size: 13px;
         font-family: 'Times New Roman', Times, serif;
     }

    
     
}


